<p>
  <h2><%= @budget.title %></h2>
</p>

<%= link_to 'Edit budget name', edit_budget_path(@budget) %> | 
<%= link_to "Delete budget", @budget, method: :delete,
                    data: { confirm: "Are you sure you'd like to delete this budget?" } %>
                    

<% if @incomes.any? %>
<div id="incomes">
  <h3><%= link_to "Incomes:", budget_incomes_path(@budget) %></h3>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Income source</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= render @incomes %>
    <tr>
      <td id="total_label">Total Income Amount:</td>
      <td><%= @incomes.sum('amount') %></td>
      <td><%= link_to "+ Add new source", new_budget_income_path(@budget),
                  class: "btn btn-sm btn-primary" %></td>
    </tr>
    </tbody>
  </table>
</div>
<% else %>
<p>You don't have any income sources yet.  Click "Add new source" to add one.</p>
      <%= link_to "+ Add new source", new_budget_income_path(@budget),
                  class: "btn btn-sm btn-primary" %>
<% end %>