<tr>
  <td><%= link_to income.source, income %></td>
  <td><%= number_to_currency(income.amount) %></td>
  <td></td>
  <td>
    <%= link_to 'View', income %> | 
    <%= link_to 'Edit', edit_income_path(income) %> | 
    <%= link_to 'Delete', income, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
