<h1>Add new income source</h1>
<div class="row">
<%= form_for @income, url: budget_incomes_path do |f| %>
  
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :source %>
    <%= f.text_field :source, class: 'form-control' %>
    
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
    
    <br />
    
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", request.referrer, class: "btn btn-default" %>
<% end %>
</div>
