<h1>Add new category</h1>
<div class="row">
  <%= form_for @category do |f| %>
  
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", request.referrer, class: "btn btn-default" %>
  <% end %>
</div>