<h1>Edit Expense:</h1>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for @expense do |f| %>
  
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
    
    <%= f.label :category %>
    <%= f.collection_select :category, @categories, :name, :name, {}, { class: "form-control" } %>
    
    <br />
    
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", request.referrer, class: "btn btn-default" %>
<% end %>
</div>
</div>
</div>